<div class="text-danger">
  <% if errors.errors.any? %>
    <h3><%= errors.errors.count %>errors prohibited this obj from being saved:</h3>
    <ul>
    <% errors.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
</div>